name: Remote Compiler
on: [push]
jobs:
  build-native:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install
      - name: Build C++ Addon
        run: npx node-gyp rebuild
      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: native-module
          path: build/Release/high_load_engine.node
